In [8]:
import random #self를 쓰지 않았음
class SelectMenu:
    def __init__(self,menu1):
        self.menu1=menu1
        
    def get_menu(self):
        num=random.randint(0,len(self.menu1)-1)
        return self.menu1[num]
menu = SelectMenu(['짬뽕', '초밥', '쌀국수', '주꾸미'])
print(menu.get_menu())

초밥

##### 복습 클래스 
참조자료형(예)리스트 => 같이 만들어짐
기본자료형(예)스트링 => 각자 만들어짐
전역변수를 class밑에 따로 만들지 말고,
그냥 __init__을 써라~

In [9]:
from com.ggoreb.python.reader import *
import com.ggoreb.python.writer.file as file
import com.ggoreb.python.writer.print as printer
import com.ggoreb.python.writer.screen as screen
barcode.read(1234)
qrcode.read(5678)
print('='*20)
file.write()
printer.write()
screen.write()

barcode reader: 1234
qrcode reader: 5678
====================
barcode print: 1234
qrcode print: 5678
barcode screen: 1234
qrcode screen: 5678

In [262]:
data1 =open("C:/Users/student/Desktop/멀티캠퍼스 강의/Python/연습문제/[ex]1-document.txt", "r")
data2=data1.read()
data3=data2.replace("\n"," ")
list1=data3.split()

In [263]:
list1
dict1={}
for word in list1:
    if word in dict1:
        dict1[word] = dict1[word]+1 
    else :
        dict1[word] =1

In [ ]:
import operator

sorted(dict1.items(), key=operator, itemgetter(1), reverse=True)

In [ ]:
word_list[:5]

In [32]:
try:
    2 / 0
except ZeroDivisionError as e:
    print(e, '예외발생')

division by zero 예외발생

In [42]:
try:
    file =open('text.txt','r')
    text = file.read()
    print(text)
except FileNotFoundError as e:
    print("예외발생",e)

예외발생 [Errno 2] No such file or directory: 'text.txt'

In [51]:
try:
    file_name='106_02_python.txt'
    file =open(file_name)
except :
    print("파일이 존재하지 않음")
else :
    data1=file.read()
    print(data1)

파일이 존재하지 않음

In [265]:
#dir(__builtins__)

In [63]:
def distance(start, end):
    dx=abs(start[0] - end[0])
    dy=abs(start[1] - end[1])
    return dx,dy
 
start = (1, 1)
end = (5, 3)
dx, dy = distance(start, end)
print('dx:', dx, 'dy:', dy)

dx: 4 dy: 2

In [53]:
a=(1,2)
a[0]

1

In [59]:
print('컴파일 언어가 아닌 것은?')
answer1 = input('1. C 2. C# 3. Python 4. swift => ')
print('컴퓨터 장치가 아닌 것은?')
answer2 = input('1. HDD 2. SDD 3. RAM 4. CPU => ')
print('파이썬의 자료형이 아닌 것은?')
answer3 = input('1. str 2. tuple 3. list 4. Map => ')
answer_list = list()
answer_list.append(answer1)
answer_list.append(answer2)
answer_list.append(answer3)

if all(answer_list):
    print('제출완료')
else :
    print('재입력')

컴파일 언어가 아닌 것은?
1. C 2. C# 3. Python 4. swift => 1
컴퓨터 장치가 아닌 것은?
1. HDD 2. SDD 3. RAM 4. CPU => 1
파이썬의 자료형이 아닌 것은?
1. str 2. tuple 3. list 4. Map => 1
제출완료

In [266]:

s=set()
dir(s)

In [66]:
def distance(start, end):
    dx=abs(start[0]-end[0])
    dy=abs(start[1]-end[1])
    return dx, dy 
start = (1, 1)
end = (5, 3)
dx, dy = distance(start, end)
print('dx:', dx, 'dy:', dy)

dx: 4 dy: 2

In [68]:
a = 123
b = 16
tuple1=divmod(a, b)
quotient=tuple1[0]
remainder=tuple1[1]
print('몫', quotient)
print('나머지', remainder)

몫 7
나머지 11

In [71]:
char_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
char_dict = {}
for i, e in enumerate(char_list):
    char_dict[i+1] = e
print(char_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [ ]:
eval('1 + 2')
3
eval('print("Hello", "Python")')
Hello Python
>>> eval('any([1, 2, 3, 4])')
True

In [73]:

print("Hello", "Python")

Hello Python

In [75]:
def even(n):
    return n % 2 == 0
# list( filter( even, (1, 2, 3, 4, 5, 6) ) ) 
list( filter( lambda n : n%2==0, (1, 2, 3, 4, 5, 6) ) )

[2, 4, 6]

In [78]:
# def int1(n):
#     return n > 0
# num_list = [1, -2, 3, -5, 8, -3]
# list(filter(int1,num_list))

list(filter(lambda n : n>0, num_list))

[1, 3, 8]

In [82]:
# def int1(n):
#     return n%3 != 0
# num_list = range(1, 21)

# list(filter(int1,num_list))
list(filter(lambda n : n%3 != 0, num_list))

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

In [83]:
a = [1, 2, 3]
id(a)

2379403680136

In [84]:
red = 190
green = 66
blue = 205

r= hex(red)
g= hex(green)
b= hex(blue)
print(r, g, b)

0xbe 0x42 0xcd

In [99]:
hexa_string1 = '48 45 4C 4C 4F'
hexa_string2 = '47 47 4F 52 45 42'
def show_hex_to_ch(hexa_string):
    hexa_list=hexa_string.split()
    apb_letter=''
    for letter in hexa_list:
#         int(letter, 16)
        apb_letter+=chr(int(letter, 16))   
    print(apb_letter)
show_hex_to_ch(hexa_string1)
show_hex_to_ch(hexa_string2)

HELLO
GGOREB

In [103]:
hexa_string1 = '48 45 4C 4C 4F'
hexa_string2 = '47 47 4F 52 45 42'
def show_hex_to_ch(hexa_string):
    hexa_list=hexa_string.split(' ')
    for hexa in hexa_list:
        print(chr(int(hexa, 16)), end='')
    print()
show_hex_to_ch(hexa_string1)
show_hex_to_ch(hexa_string2)

HELLO
GGOREB

In [108]:
## isinstance()
values = [10, 'a', True, {}, [], -4, 23.24, (1,), -1.2]
result = 0

for b in values :
    if not isinstance(b, bool) and isinstance(b, int) or  isinstance(b, float):
        result+=b

# 코드 작성
print(result) # 29.04

28.04

In [110]:
##map
def three (x) : return x *3
num_list = [1, 2, 3, 4]
list(map(three, num_list))

[3, 6, 9, 12]

In [115]:
list(map(lambda x: x * 3, num_list))

[3, 6, 9, 12]

In [114]:
def three (x) : return x **4
num_list = [1, 2, 3, 4]
list(map(three, num_list))

[1, 16, 81, 256]

In [116]:
list(map(lambda x: x ** 4, num_list))

[1, 16, 81, 256]

In [120]:
num_list = [-8, 2, 7, 5, -3, 5, 0, 1]
print("max: ",max(num_list))
print("min: ",min(num_list))
print("sum: ",sum(num_list))

max:  7
min:  -8
sum:  9

In [135]:
string1 = 'ASCII TABLE'
string2 = 'PYTHON'
def show_ch_to_ascii(string):
    words=list(string)
    numbers=''
    for word in words:

        if word!=" ":
            numbers+=str(ord(word))+" "
    print(numbers)
    

show_ch_to_ascii(string1)
show_ch_to_ascii(string2)

65 83 67 73 73 84 65 66 76 69
80 89 84 72 79 78

In [131]:
string1 = 'ASCII TABLE'
string2 = 'PYTHON'
def show_ch_to_ascii(string):
    for s in string:
        print(ord(s), end=' ')
    print()
    

show_ch_to_ascii(string1)
show_ch_to_ascii(string2)

65 83 67 73 73 32 84 65 66 76 69
80 89 84 72 79 78

In [136]:
list(zip([1, 2, 3], (4, 5, 6), {7, 8, 9}, [10, 11, 12, 1]))

[(1, 4, 8, 10), (2, 5, 9, 11), (3, 6, 7, 12)]

In [137]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
list3 = ['가', '나', '다', '라']
list(zip(list1, list2, list3 ))

[(1, 'a', '가'), (2, 'b', '나'), (3, 'c', '다'), (4, 'd', '라')]

In [140]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
list3 = ['가', '나', '다', '라']
for a, b, c in zip(list1, list2, list3):
    print(a, b, c)

1 a 가
2 b 나
3 c 다
4 d 라

In [142]:
import sys
sys.path

['C:\\Users\\student',
 'C:\\Users\\student\\Miniconda3\\python37.zip',
 'C:\\Users\\student\\Miniconda3\\DLLs',
 'C:\\Users\\student\\Miniconda3\\lib',
 'C:\\Users\\student\\Miniconda3',
 '',
 'C:\\Users\\student\\Miniconda3\\lib\\site-packages',
 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\win32',
 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\student\\.ipython']

In [143]:
import sys
print(sys.argv)

['C:\\Users\\student\\Miniconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\student\\AppData\\Roaming\\jupyter\\runtime\\kernel-d2ea04f6-b948-449c-8e87-f1da381f2f37.json']

In [150]:
import pickle
class NowData:
    def __init__(self):
        self.x = 0
        self.y = 0
    def move(self, x, y):
        self.x = x
        self.y = y
    def get_location(self):
        return self.x, self.y
    
    
    
data = NowData()
data.move(100, 200)

file = open('data.bin', 'wb')
pickle.dump(data, file)
file.close()


file = open('data.bin', 'rb')
data = pickle.load(file)
file.close()
# 코드 작성
data.get_location()

(100, 200)

In [151]:
import pickle
file = open('obj.txt', 'wb')
data = {'a' : 'python', 'b' : 'easy'}
pickle.dump(data, file)
file.close()

In [152]:
import os
os.system('dir')

0

In [157]:
import os
try :
    os.mkdir('c:/python')
    os.mkdir('c:/python/a')
except FileExistsError as e:
    pass
    file=open('c:/python/a/a.txt','wt')
file.write("강규현 꼭 멋진 데이터사이언티스트가 될거야")
file.close()
# os.mkdir('c:/python/b')
file=open('c:/python/b/b.txt','wt')
file.close()

In [165]:
import glob
fileList = glob.glob('C:/Users/student/Miniconda3/Lib/*')
print(len(fileList))

205

In [163]:
import shutil
shutil.copy('C:/Windows/System32/drivers/etc/hosts','c:/python/target.txt' )

'c:/python/target.txt'

In [170]:
import random
time1=random.seed(1)

In [188]:
random.seed(2)
random.randint(1,10)

1

In [192]:
date = time.time()
date2 = time.localtime(date)
print(date2)

time.struct_time(tm_year=2020, tm_mon=1, tm_mday=15, tm_hour=16, tm_min=14, tm_sec=23, tm_wday=2, tm_yday=15, tm_isdst=0)

In [194]:
nowData=str(date2.tm_year) +'/'+str(date2.tm_mon) 
nowData

'2020/1'

In [195]:
time.ctime()

'Wed Jan 15 16:18:16 2020'

In [207]:
time.strftime( "%Y year %m %d %H:%M:%S", time.localtime( time.time() ) )

'2020 year 01 15 16:31:03'

In [ ]:
minute=25
time.sleep(minute*60)
day=1.5
time.sleep(day*60*60*24)

In [214]:
time.strftime( "%Y year %m %d %H:%M:%S", time.localtime( time.time() ) )

'2020 year 01 15 16:35:34'

In [213]:
t=time.time()+(100*24*60*60)
time.strftime( "%Y year %m %d %H:%M:%S", time.localtime(t))

'2020 year 04 24 16:34:28'

In [216]:
import calendar
print(calendar.calendar(2018))

In [217]:
calendar.weekday(2020, 1, 15)

2

In [218]:
calendar.monthrange(2020, 2)

(5, 29)

In [219]:
import calendar
week_dict = { 0 : '월', 1 : '화', 2 : '수', 3 : '목', 4 : '금', 5 : '토', 6 : '일' }

key1=calendar.weekday(2017, 5, 9)
week_dict[key1]

'화'

In [224]:
calendar.prmonth(2004, 8)
last_day=calendar.monthrange(2004, 8)[1]
print(last_day)
for day in range(last_day):
    if calendar.weekday(2004, 8, day+1)==0:
        print(day+1,'일')

    August 2004
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
31
2 일
9 일
16 일
23 일
30 일

In [230]:
last_days=calendar.monthrange(2004, 8)[1]
for day in range(1,last_days+1):
    if calendar.weekday(2004, 8, day)==0:
        print(day,"일")

2 일
9 일
16 일
23 일
30 일

In [254]:
num1=random.randint(0,5)*random.random()
print(round(num1,2))

1.07

In [255]:
calendar.prcal(2018)

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [259]:
import datetime
dt1 = datetime.datetime(2012, 3, 25)
dt2 = datetime.datetime.now()
result = dt2 - dt1
print(result)

2852 days, 17:26:01.703504

In [261]:
now_time = datetime.datetime.now()
add_time = datetime.timedelta(days=100)
print(add_time)
print(now_time + add_time)

100 days, 0:00:00
2020-04-24 17:28:15.446026