In [8]:
#연습문제 11-1
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''CREATE TABLE member (
            NUM INTEGER PRIMARY KEY AUTO_INCREMENT,
            NAME VARCHAR(30),
            EMAIL VARCHAR(30),
            C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [9]:
#연습문제 11-1
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''CREATE TABLE article (
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            TITLE VARCHAR(30),
            CONTENT VARCHAR(30),
            WRITER VARCHAR(30),
            HIT INTEGER,
            C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [10]:
#연습문제 11-2-1
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''INSERT INTO member (NUM, NAME, EMAIL, C_DATE)
            VALUES (NULL, %s, %s, now());'''
cursor.execute(sql, ('a', 'a@a.com'))

conn.commit()

cursor.close()
conn.close()

In [12]:
#연습문제 11-2-2
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''INSERT INTO article (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
            VALUES (null, %s, %s, %s, 0, now());'''
cursor.execute(sql, ('제목', '내용', '파이썬'))

conn.commit()

cursor.close()
conn.close()

In [13]:
#11-3-1
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''UPDATE member SET
         NAME = %s, EMAIL = %s
         WHERE NUM = %s'''
cursor.execute(sql, ('aa', 'aa@aa.com', 1))

conn.commit()

cursor.close()
conn.close()

In [14]:
#11-3-2
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)

sql = '''UPDATE article SET
         TITLE = %s, CONTENT = %s, HIT = %s
         WHERE ID = %s'''
cursor.execute(sql, ('제목수정', '내용수정', 100, 1))

conn.commit()

cursor.close()
conn.close()

In [17]:
#11-4-1
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''DELETE FROM MEMBER
            WHERE NUM= %s '''
cursor.execute(sql,1)

conn.commit()

cursor.close()
conn.close()

In [19]:
#11-4-2
import pymysql

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'pythondb',
    charset = 'utf8')

cursor = conn.cursor()

sql = '''DELETE FROM ARTICLE'''
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [26]:
import pymysql

page_num = input('원하는 페이지 번호를 입력해주세요.')
print(type(page_num))
page_num =int(page_num)
end_num = page_num*10
start_num = end_num-9

conn = pymysql.connect (
    host = 'localhost',
    user = 'root',
    password = '1234',
    db = 'mydb',
    charset = 'utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)


sql = '''SELECT * 
            FROM EMP
            LIMIT %s, 10'''
cursor.execute(sql, (start_num-1)) # mysql에서는 o번부터 시작하기 때문에 1을 빼줘야 함
result =cursor.fetchall()

print(len(result))

for row in result:
    print(row['EMPNO'], row['ENAME'])

conn.commit()

cursor.close()
conn.close()

원하는 페이지 번호를 입력해주세요.2
<class 'str'>
4
7876 ADAMS
7900 JAMES
7902 FORD
7934 MILLER

In [53]:
#11-5-1 for문 활용 MEMBER 
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='pythondb', charset='utf8')
cursor = conn.cursor()
# 데이터 100개 입력
sql = '''INSERT INTO MEMBER
 (NUM, NAME, EMAIL, C_DATE)
 VALUES (NULL, %s, %s, NOW())'''
for i in range(1, 101):
    insert(sql, ('제목' + str(i), 'a@a.com'))
conn.commit()
sql = '''SELECT * FROM MEMBER
            ORDER BY NUM DESC
            LIMIT 0,5'''
cursor.execute(sql) # mysql에서는 o번부터 시작하기 때문에 1을 빼줘야 함
result =cursor.fetchall()

for row in result:
    for col in row:
        print(col, end=' ')
    print()
#     print(row['NUM'], row['NAME'],row['EMAIL'],row['C_DATE'])



cursor.close()
conn.close()

201 제목100 a@a.com 2020-01-28 14:30:13
200 제목99 a@a.com 2020-01-28 14:30:13
199 제목98 a@a.com 2020-01-28 14:30:13
198 제목97 a@a.com 2020-01-28 14:30:13
197 제목96 a@a.com 2020-01-28 14:30:13

In [54]:
#11-5-2 for문 활용 Article
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)

conn = pymysql.connect(
host='localhost', user='root', password='1234',
db='pythondb', charset='utf8')
cursor = conn.cursor()
# 데이터 100개 입력
sql = '''INSERT INTO ARTICLE
 (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
 VALUES (NULL, %s, %s, %s, 0, NOW())'''
# 데이터 100개 입력
for i in range(1, 101):
    insert(sql, ('제목' + str(i), '내용' + str(i), '파이썬'))

conn.commit()
sql = '''SELECT * FROM ARTICLE
            ORDER BY ID DESC
            LIMIT 0,5'''
cursor.execute(sql) 
result =cursor.fetchall()

for row in result:
    for col in row:
        print(col, end=' ')
    print()

cursor.close()
conn.close()

202 제목100 내용100 파이썬 0 2020-01-28 14:32:45
201 제목99 내용99 파이썬 0 2020-01-28 14:32:45
200 제목98 내용98 파이썬 0 2020-01-28 14:32:45
199 제목97 내용97 파이썬 0 2020-01-28 14:32:45
198 제목96 내용96 파이썬 0 2020-01-28 14:32:45

In [35]:
##연습문제 11-6-1

import pymysql

conn = pymysql.connect(
host='localhost', user='root', password='1234',
db='pythondb', charset='utf8')
cursor = conn.cursor()


sql = '''SELECT * FROM SHOP
            WHERE REST_DATE = %s 
             AND PARKING_INFO =%s'''

cursor.execute(sql,('연중무휴','주차가능') )
result =cursor.fetchall()

for row in result:
    for col in row:
        print(col, end=' ')
    print()


cursor.close()
conn.close()

800 속씨원한대구탕 24시간 속을 시원하게 풀어주는 대구탕 전문점 연중무휴 주차가능 /save_img/shop_img/24f761ee-3bdc-4f89-a9c6-0f90ecc69a8b.jpg
808 신기산업 영도 앞바다가 한 눈에 들어오는 카페 연중무휴 주차가능 /save_img/shop_img/c6890c3b-88b4-49a8-8ed4-db7bde14f78c.jpg

In [52]:
##연습문제 11-6-2
import pymysql

conn = pymysql.connect(
host='localhost', user='root', password='1234',
db='pythondb', charset='utf8')
cursor = conn.cursor()


sql = '''SELECT * FROM info'''

cursor.execute(sql) 

result =cursor.fetchall()

import re 
pat = re.compile('(\d{6}-)\d{7}')

for row in result:
    print(row[2][:row[2].find('-')] + '-'+'*'*7)
    print(row[0], row[1], pat.sub('\g<1>*******', row[2]))


conn.commit()
cursor.close()
conn.close()

751111-*******
a 일길동 751111-*******
761111-*******
b 이길동 761111-*******
771111-*******
c 삼길동 771111-*******
781111-*******
d 사길동 781111-*******
791111-*******
e 오길동 791111-*******
801111-*******
f 육길동 801111-*******
811111-*******
g 칠길동 811111-*******

In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient(host='localhost', port=27017)

In [3]:
db = client['test']

In [4]:
cursor = db.score.find()

In [7]:
cursor.rewind() #다시 순서 (화살표)을 처음으로 하기 위해서 아니면 find()를 다시해야 함
for data in list(cursor):
    print(data['a'])

99.0
0.0
1.0
2.0
3.0
4.0
0.0
1.0
2.0
3.0
4.0
0.0
1.0
2.0
3.0
4.0
5

In [6]:
db.score.save({'a':5, 'exam' : 6})

C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
  """Entry point for launching an IPython kernel.

ObjectId('5e2ff203e1ba1f70b0de0633')

In [8]:
db.score.update( { 'a' : 5 }, { '$set' : { 'exam' : 10 } } )

C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [10]:
cursor.rewind()
for data in list(cursor):
    print(data)

{'_id': ObjectId('5e2fd57f228951749a0b5e20'), 'a': 99.0}
{'_id': ObjectId('5e2fd604228951749a0b5e21'), 'a': 0.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd604228951749a0b5e22'), 'a': 1.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd604228951749a0b5e23'), 'a': 2.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd604228951749a0b5e24'), 'a': 3.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd604228951749a0b5e25'), 'a': 4.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda73228951749a0b5e26'), 'a': 0.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda73228951749a0b5e27'), 'a': 1.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda73228951749a0b5e28'), 'a': 2.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda73228951749a0b5e29'), 'a': 3.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda73228951749a0b5e2a'), 'a': 4.0, 'exam': 5.0}
{'_id': ObjectId('5e2fda81228951749a0b5e2b'), 'a': 0.0, 'exam': 6.0}
{'_id': ObjectId('5e2fda81228951749a0b5e2c'), 'a': 1.0, 'exam': 6.0}
{'_id': ObjectId('5e2fda81228951749a0b5e2d'), 'a': 2.0, 'exam': 6.0}
{'_id': ObjectId('5e2fda81228951749a0b5e2e'), 'a': 3.0, 'exam': 6.0}
{'_id': ObjectId('5e2fda81228951749a0b5e2f'), 'a': 4.0, 'exam': 6.0}
{'_id': ObjectId('5e2ff203e1ba1f70b0de0633'), 'a': 5, 'exam': 10}

In [23]:
from selenium import webdriver as wd
driver = wd.Chrome(executable_path='chromedriver.exe')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

cursor = db.tour.find()

driver.get('http://tour.interpark.com')
driver.implicitly_wait(10)
driver.find_element_by_id('SearchGNBText').send_keys('달랏')
driver.find_element_by_css_selector('button.search-btn').click()
WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.CLASS_NAME, 'oTravelBox'))
    )
driver.find_element_by_css_selector('.oTravelBox .moreBtn').click()

In [15]:
for page in range(1, 2):
    driver.execute_script("searchModule.SetCategoryList(%s, '')" % page)
    time.sleep(2)
    boxItems = driver.find_elements_by_css_selector(
        '.panelZone > .oTravelBox > .boxList > li')
for li in boxItems:
    db.score.save({'a':5, 'exam' : 6})
    
    
    print('이미지', li.find_element_by_css_selector('img.img').get_attribute('src'))
    print('링크', li.find_element_by_css_selector('a').get_attribute('onclick'))
    print('상품명', li.find_element_by_css_selector('h5.proTit').text)
    print('추가설명', li.find_element_by_css_selector('.proSub').text)
    print('가격', li.find_element_by_css_selector('strong.proPrice').text)
    for info in li.find_elements_by_css_selector('.info-row .proInfo'):
        print(info.text)
    print('=' * 20)
driver.close()

이미지 http://tourimage.interpark.com/product/tour/00161/A10/280/A1031420_1_027.jpg
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031420','')
상품명 [달랏4일] 낭만도시 달랏 직항+랑비앙 포함 3박4일
추가설명 ★직항 취항 기념 초특가★
가격 365,000 원~
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.29~2020.05.03
평점 0.0
0개의 상품평
====================
이미지 http://tourimage.interpark.com/product/tour/00161/A10/280/A1024924_1_620.jpg
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1024924','')
상품명 [나트랑/달랏5일] 시원한 낭만도시 랑비앙관광 5일
추가설명 ★떠오르는 베트남 인생여행지★
가격 434,700 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.06.30
평점 10.0
1개의 상품평
====================
이미지 http://tourimage.interpark.com/product/tour/00161/A10/280/A1025044_3_337.jpg
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025044','')
상품명 [대구출발_나트랑5일] 지금 핫한 그곳! 아름다운 나트랑/달랏 관광
추가설명 머드온천&나트랑 시내관광 포함-동양의 나폴리 나트랑&달랏여행♥
가격 499,000 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.28
평점 0.0
0개의 상품평
====================
이미지 http://tourimage.interpark.com/product/tour/00161/A10/280/A1031349_1_470.jpg
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031349','')
상품명 [나트랑 5일★연합] 나트랑 1박/ 달랏 2박 꽉찬 관광일정
추가설명 신규취항★뱀부항공/기내식제공/수하물20KG
가격 349,000 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.28
평점 10.0
1개의 상품평
====================
이미지 http://img.modetour.com/eagle/photoimg/42164/bfile/636724338253061415.JPG
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1023759','')
상품명 *출발확정*[관광형] 나트랑x달랏 3박5일 [4성(1박)+달랏(2박)]
추가설명 최대 7만원 쿠폰할인 (출발일 2020.01.01~2020.03.31)
가격 405,000 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 6.3
2개의 상품평
====================
이미지 http://tourimage.interpark.com/product/tour/00161/A10/280/A1025396_7_460.jpg
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025396','')
상품명 [부산출발_나트랑5일] 떠오르는 여행지 나트랑 + 봄의 도시 달랏을 동시에!! 실속 관광형
추가설명 전 일전 준특급호텔 + 아름다운 나트랑 달랏 관광♡
가격 499,000 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.31
평점 4.0
1개의 상품평
====================
이미지 http://img.modetour.com/eagle/photoimg/59122/bfile/636724338211701392.JPG
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031529','')
상품명 [영원한봄의도시] 달랏 패키지 3박4일 [5성호텔]
추가설명
가격 471,000 원~
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.29~2020.06.28
평점 0.0
0개의 상품평
====================
이미지 http://img.modetour.com/eagle/photoimg/42164/bfile/636724338249268660.JPG
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025809','')
상품명 *출발확정*[증편기][관광형] 나트랑x달랏 3박5일 [4성(1박)+달랏(2박)]
추가설명
가격 352,000 원~
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 0.0
0개의 상품평
====================
이미지 http://img.modetour.com/eagle/photoimg/42171/bfile/636724338177366577.JPG
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025810','')
상품명 [증편기][관광형] 나트랑x달랏 3박5일 [5성(1박)+달랏(2박)]
추가설명
가격 405,000 원~
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 10.0
1개의 상품평
====================
이미지 http://img.modetour.com/eagle/photoimg/56584/bfile/636453195339574051.JPG
링크 searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=Q1011029','')
상품명 ●연중 봄의 도시, 달랏● [5성호텔] 달랏 3색 골프(54홀) + 관광 3박 5일
추가설명
가격 1,480,000 원~
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.06.27
평점 0.0
0개의 상품평
====================

In [21]:
print(boxItems)

[<selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="77a286fd-b46a-4f74-a14f-77c1b6f843e8")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="0fbc525d-6073-40f7-9ab1-4b2052bb1d4a")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="61464089-92f2-4220-85d6-2f8cf3327224")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="0aa412c2-bbae-4363-9f3f-eb714a97c81c")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="3190967e-7279-4319-8eee-dc0163dd6847")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="5e77ded1-1fbb-4c6c-b3a5-979bd9703ba9")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="96b0fa8d-630a-499f-8a2c-d3c26b17a41e")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="e3f92fff-3f24-4756-9a69-a3f94f22e387")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="a09c67b7-8bff-4074-889b-76f975327d8e")>, <selenium.webdriver.remote.webelement.WebElement (session="d16c7349409f0c0ab4ad18e0e7871b0f", element="7d28125b-18b3-4a2c-8eff-942c0c1fbde5")>]

In [30]:
cursor.rewind()
for page in range(1, 2):
    driver.execute_script("searchModule.SetCategoryList(%s, '')" % page)
    time.sleep(2)
    boxItems = driver.find_elements_by_css_selector(
        '.panelZone > .oTravelBox > .boxList > li')

for li in boxItems:
    db.tour.save(
        {'이미지':li.find_element_by_css_selector('img.img').get_attribute('src'), 
         '링크' : li.find_element_by_css_selector('a').get_attribute('onclick'), 
         '상품명': li.find_element_by_css_selector('h5.proTit').text ,
         '추가설명': li.find_element_by_css_selector('.proSub').text,
         "가격": li.find_element_by_css_selector('strong.proPrice').text })

C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead

In [31]:

db.tour.find()

In [ ]:
##스터디 01/28

In [42]:
scores=[100,100,50,40,40,20,10]
alice=[5,25,50,120]
scores_1=list(set(scores))

In [58]:
for i in alice:
    scores_1=list(set(scores))
    scores_1.append(i)
    
    scores_1.sort(reverse=True)
    print(scores_1.index(i)+1)

6
4
2
1

In [44]:
scores_1.sort()

In [45]:
scores_1

[5, 10, 20, 25, 40, 50, 50, 100, 120]

In [57]:

import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
for i in alice:
        scores_1=list(set(scores))
        scores_1.append(i)
        result=scores_1.rank(method='dense', ascending=False)
    return result